<div style="padding:10px;" class="highed-box-size">
    <div style="font-size:26px; font-weight:100;">Modal Editor</div>
    <br/><br/>
    Result:
    <br/><br/>
    <textarea id="chart-result" class="highed-box-size" style="font-family:monospace;width:100%;height:400px"></textarea>
    <br/><br/>
    <button id="modal-btn" class="highed-imp-button">Create a chart</button>
</div>

<script>

    var modal = highed.ModalEditor(false, {
                features: 'import templates customize welcome done',
                allowDone: true
            }, function (chart) {
                var html = chart.export.html(true);
                $('#chart-result').val(html);
            })
            ;

    $('#modal-btn').on('click',function(){
        modal.attachToSummoner($(this));
        modal.show();
    });

    $('.highed-dimmer').on('click', function(){
        modal.hide();
    });

   /* highed.ready(function () {
        highed.ModalEditor('modal-btn', {
           // features: 'import templates',
            allowDone: true,
            features: 'import templates customize welcome done',
            importer: {
                options: 'plugins csv json samples'
            }
        }, function (chart) {
            var html = chart.export.html(true);
            highed.dom.get('chart-result').value = html;
        });

    });*/

</script>